@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

/* font-family: 'Lato', sans-serif; */

body {
    background-color: rgba(45, 100, 157, 1);
    font-family: 'Lato';
}
h1 {
    display: flex;
    justify-content: center;
    margin: 60px;
    color: #F2F2F2;
}

.listOfPokemons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pokemon {
    list-style: none;
    display: inline-block;
    margin: 10px 40px 40px 40px;
    border: 3px solid #EBBC06;
    background-color: #F2F2F2;
    border-radius: 13px;
    padding: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
    box-shadow: 0px 4px 9px 3px rgba(0, 0, 0, 0.25);
}

.idPokemon{
    font-size: 18px;
    margin-bottom: 0;
}
.namePokemon{
    font-size: 20px;
    margin: 0;
}